html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(9, 23, 51);
  }
  
  #container {
    margin-left:2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  #output-panel{
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: #4e515f;
    border-left: 1px solid #ccc;
  }

  #signal-names
  {
    margin-top : 2%;
    margin-left : 2%;
    width : 80px;
    position: relative;
  }

  #canvas-wrapper {
    margin-top:2%;
    margin-right:2%;
    position: relative;
    flex: 1;
    overflow: auto; /* Enables scrollbars */
    background: #000000;
  }
  
  canvas {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
  }

  .extra-canvas {
    background-color: transparent;
  }

  #ui-panel {
    width: 100%;
    margin-top:2%;
    margin-right:10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    background-color: #4e515f;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    padding: 16px;
  }
  
  #ui-panel h3 {
    margin-top: 0;
  }
  
  .control-group {
    padding : 16px;
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    color: white;
    margin-bottom: 1px;
  }
  
  .signal-label{
    height: 20px;
    text-align: right;
    background-color: #363842;
    color: white;
    font-size: 12px;
    padding: 5px;
    padding-bottom: 10px;
    vertical-align: baseline;
  }

  .signal-label:hover {
    background-color: #6d7599;
  }

  .signal-label.selected {
    background-color: #2e44a7;
  }

  h1{
    color: white;
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 1%;
  }

  h3 {
    color: white;
    
  }

  input[type="range"] {
    width: 100%;
    margin-top:5%;
  }

  input[type="text"] {
    width: 95%;
    margin-top:5%;
    margin-bottom: 5%;
  }

